@model Difficulty

<form method="post">
    <div class="border border-primary rounded p-3 mt-4">
        <div class="row pb-2">
            <h2>Add Difficulty</h2>
        <hr class="text-primary" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:10em">Add</button>
        <a asp-controller="Difficulty" asp-action="Index" class="btn btn-outline-secondary" style="width:10em">Back</a>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
